{%block contenidoindex%}
<h2>Proyecto de Carrito Autónomo con Arduino</h2>

<p>
    Este proyecto consiste en el desarrollo de un carrito Autónomo controlado por un arduino, con capacidad de seguir una línea que explicara el funcionamiento de APIs y el piloto automático de los autos de hoy en día y los errores que tienen.
</p>

<p>
    
</p>

<p>
<h5>Entonces nosotros:</h5> 
        <ul>
            <li>Angel Sebastián Rodas Rodriguez</li>
            <li>Noel Abraham Barrios Rosales</li>
            <li>Ermi Ricardo Martinez Girón</li>
            <li>Katherine Waleska Xiloj González</li>
            <li>Cynthia Dayannara Rodríguez Alvarez</li>
            <li>Aarón Isaac Lopez Atz</li>
            <li>Abner Abisaí Escobar Tol</li>
            <li>Emily Paulina Cuá Miculax</li>
        </ul>
</p>
<p>
<h5>Te explicaremos cosas como:</h5>
        <ul>
            <li>La teconología de hoy en día</li>
            <li>¿Qué es una API? y su funcionamiento</li>
            <li>¿Qué es el piloto automático y como funciona?</li>
            <li>Funcionamiento de Neoracer</li>
        </ul>
</p>
{%endblock%}