{%block contenido%}
<h2>Proyecto de Carrito Autónomo con Arduino</h2>

<p>
Este proyecto consiste en el desarrollo de un carrito controlado por Arduino, con capacidad para desplazarse de forma autónoma utilizando sensores y ser supervisado desde una interfaz web. La idea principal es integrar hardware y software para mostrar cómo un sistema físico puede ser manipulado y monitoreado a través de una aplicación desarrollada en Flask.
</p>

<p>
El carrito está diseñado para moverse de manera inteligente, siguiendo una ruta o respondiendo a comandos desde el navegador. Cuenta con motores, sensores y módulos que le permiten detectar obstáculos o seguir caminos. Además, la página web permite al usuario ver información del estado del carrito y enviar instrucciones en tiempo real.
</p>

<p>
Entonces nosotros: 
        <ul>
            <li>Angel Sebastián Rodas Rodriguez</li>
            <li>Noel Abraham Barrios Rosales</li>
        </ul>
</p>
{%endblock%}