<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles2.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion-deepracer</title>
</head>
<body>
    <main>
        <section>
            <div>
                <p class="titulo">¿Un Deepracer con arduino y APIs?</p>
                <p class="contenido1">Pues si, si que se puede, pero, primero ¿sabes que es un Deepracer?</p>
            </div>
        </section>
    </main>
</body>
</html>