<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controlador</title>
</head>
<body>
    <main class="intro">
        <h1 class="titulo">Hola bienvenido a la sala de espera... JAJAJA no te creas es solo para ver que te gustaria hacer</h1>
        <h2><p>Elije una opcion: </p></h2>
            <ul class="lista">
                <li><a href="{{url_for('info')}}"">Ir a la informacion</a></li>
                <li><a href="controlador.html">Ir al controlador</a></li>
            </ul>
    </main>
</body>
</html>