{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Neoracer</a>
    
    <!-- Botón hamburguesa para dispositivos pequeños -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú colapsable -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('tecno') }}">Teconología</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('api')}}">APIs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('neo')}}">Neoracer</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('piloto')}}">Piloto automático</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('futuro')}}">vista a futuro</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('neo')}}">Neoracer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Bootstrap JS (solo incluir si no lo tenés en base.html) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
